@charset "utf-8";

/* 
#363636
#1C1C1C
#daa520
*/

*{
    margin: 0px 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

  main{
    background: #fff url(img/paper.jpg) repeat;
    margin: 0px;
  }

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}
.fa-whatsapp {
    margin-top: 16px;
}

/*BANER DO SITE*/
div#logo{
    margin: 0px;
    width: 97vw;
    height: 150px;
    background-image: linear-gradient(335deg, #ffff86 0, #ffff79 10%, #ffff6d 20%, #fff264 30%, #ffd85b 40%, #f2bd53 50%, #dea34c 60%, #cb8c47 70%, #ba7a43 80%, #ab6a40 90%, #9f5d3e 100%);
    position: relative;
}
div > h1{
    display: block;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*MENU DE NAVEGAÇAO*/
#menu{
    background-color: #1c1c1c;
    color: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#menu:hover{
    color: black;
    background-color: #fff;
}
nav{
    display: none;
}
.naveg > a{
    display: block;
    background-color: #1c1c1c;
    color:#fff;
    padding: 3px;
    margin: 2px;
    text-align: center;
}
.naveg >a:hover{
    color: black;
    background-color: #fff;
}

a{
    display:inline;
    text-decoration: none;
    color: black;
}

/*SOBRE A EMPRESA*/
section#sobre{
    display: block;
    width: 85vw;
    height: 360px;
    background-color: #fff;
    margin: auto;
    border-radius: 20px;
}

section#sobre > div#imagem{
   display: flex;
   align-items: end;
   background: #EEE8AA url(../img/salao.jpg) no-repeat;
   background-size:cover;
   background-position: center;
   height: 200px;
}
section#sobre > div#imagem > h2{
    background-color: #eee8aa56;
    display: block;
    width: 100%;
    padding-left: 10px;
}

section#sobre > div#about{
    padding: 10px;
    margin: auto;
}
section#sobre > div#about > p{
    text-align: justify;
}

/*MAPA*/
aside > iframe{
    display: none;
    width: 99vw;
    border: 0px;
}

/*RODAPÉ*/
footer{
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
}
#contato{
    text-align: center;
}

li, a , img{
    display: inline;
}
img.social{
    width: 40px;
    height: 40px;
    margin: 5px;
}